
#container {
    flex-direction: column;
    background-color: gray;
}

.rootDiv {
    display: flex;
    justify-content: space-evenly;
    width: 20px;
    height: 20px;
    background-color: red; 
}

.branchDiv {
    width: 20px;
    height: 20px;
    background-color: blue;
}
