
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
}

.newDiv {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: gray; 
}
